<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>

<%= form_tag top_login_path, method: :post  do  %>
    <%= label_tag :uid, 'ユーザID' %>
    <%= text_field_tag :uid %>
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass %>
    <%= submit_tag 'ログイン' %>
<% end %>

<p><%= link_to '戻る', root_path %>
