<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>

<% @users.each do |e| %>
<p>
  <%= e.uid %>
  <%= e.pass %>
  <%= link_to '削除', user_path(e), method: :delete %>
</p>
<% end %>

<p><%= link_to 'ユーザ登録', new_user_path %></p>

<p><%= link_to '戻る', root_path %></p>
